body {
  margin: 0;
  padding: 0;
  background: url(../images/WoodTable.png) no-repeat;
}
.board {
  width: 1023px;
  height: 665px;
  background: url(../images/board.png) no-repeat;
  position: relative;
}
.workspace {
  position: absolute;
  cursor: pointer;
}
.workspace.forest {
  left: 323px;
  top: 108px;
  width: 90px;
  height: 110px;
}
.workspace.claypit {
  left: 488px;
  top: 106px;
  width: 160px;
  height: 70px;
}
.workspace.quary {
  left: 890px;
  top: 92px;
  width: 110px;
  height: 130px;
}
.workspace.river {
  left: 760px;
  top: 261px;
  width: 120px;
  height: 80px;
}
.workspace.hunt {
  left: 119px;
  top: 263px;
  width: 120px;
  height: 90px;
}
.workspace.field {
  left: 293px;
  top: 373px;
  width: 60px;
  height: 50px;
}
.workspace.toolhut {
  left: 546px;
  top: 343px;
  width: 40px;
  height: 40px;
}
.workspace.specialhut {
  left: 378px;
  top: 476px;
  width: 80px;
  height: 40px;
}
.worker-pile {
  font-weight: bold;
}
.player-board {
  border: 3px solid black;
  position: absolute;
  top: 0;
  left: 1024px;
  width: 100px;
  height: 160px;
}
.player1 { color: red; }
.player2 { color: green; }
.player3 { color: #EAC117; }
.player4 { color: blue; }
.player-board.player1 {
  border-color: red;
}
.player-board.player2 {
  border-color: green;
  top: 167px;
}
.player-board.player3 {
  border-color: #EAC117;
  top: 334px;
}
.player-board.player4 {
  border-color: blue;
  top: 501px;
}
.gameover, .feeding-dialog {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  border: 2px solid gray;
  z-index: 100;
}
.building {
  box-shadow: 0px 1px 0px #333;
  top: 548px;
  width: 91px;
  height: 112px;
}
.building-pile1 { left: 72px; }
.building-pile2 { left: 178px; }
.building-pile3 { left: 287px; }
.building-pile4 { left: 395px; }
.building-back { background: url(../images/hut_back.png); }
.building1 { background: url(../images/hut_01.png); }
.building4 { background: url(../images/hut_04.png); }
.building6 { background: url(../images/hut_06.png); }
.building8 { background: url(../images/hut_08.png); }
.building12 { background: url(../images/hut_12.png); }
.building13 { background: url(../images/hut_13.png); }
.building14 { background: url(../images/hut_14.png); }
.building15 { background: url(../images/hut_15.png); }
.building16 { background: url(../images/hut_16.png); }
.building18 { background: url(../images/hut_18.png); }
.building20 { background: url(../images/hut_20.png); }
.building21 { background: url(../images/hut_21.png); }
.building23 { background: url(../images/hut_23.png); }
.building24 { background: url(../images/hut_24.png); }
.building26 { background: url(../images/hut_26.png); }
.building27 { background: url(../images/hut_27.png); }
.building28 { background: url(../images/hut_28.png); }
.stack1 {
  z-index: 7;
}
.stack2 {
  z-index: 6;
}
.stack3 {
  z-index: 5;
}
.stack4 {
  z-index: 4;
}
.stack5 {
  z-index: 3;
}
.stack6 {
  z-index: 2;
}
.stack7 {
  z-index: 1;
}
