.resource-space {
  height: 100px;
  border: 3px solid black;
}
.forest { border-color: brown; }
.claypit { border-color: red; }
.quary { border-color: gray; }
.river { border-color: yellow; }
.worker-pile {
  font-weight: bold;
}
.resource-pile.forest { color: brown; }
.resource-pile.claypit { color: red; }
.resource-pile.quary { color: gray; }
.resource-pile.river { color: yellow; }
.player-board { border: 3px solid black; }
.player1 { color: red; }
.player-board.player1 { border-color: red; }
.player2 { color: green; }
.player-board.player2 { border-color: green; }
